<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue@2.2.6"></script>
</head>
<body>
<div id="app">
  <div id="headings">
    <div id="player" class="heading"> 
      <h1>YOU</h1>
      <div class="pointsCont">
      	<div id="yourPoints" class="points" :style="{width: plyrPointsWidth + 'px'}">
      		<span id="yourPntsTotal" class="totals">{{playerPoints}}</span>
      	</div>
      </div>
    </div>
    <div id="monster" class="heading">
      <h1>MONSTER</h1>
      <div class="pointsCont">
      	<div id="monsterPoints" class="points" :style="{width: mstrPointsWidth + 'px'}">
      		<span id="monsterPntsTotal" class="totals">{{monsterPoints}}</span>
      	</div>
      </div>
      
  </div>
  </div>
  
  <div class="gameNavCont">
  	<button class="gameBtn" v-if="show" @click="toggle()">NEW GAME</button>
  	<template v-else>
  		<div class="gameBtn">
  			<button @click="attack">attack</button>
	  		<button @click="specialAttack">special attack</button>
	  		<button @click="health">heal</button>
	  		<button @click="toggle">quit</button>
  		</div>
  		
  	</template>
  </div>
  <div class="gameLog">
  	<ul>
  		<li v-for="log in gameLog">{{ log }}</li>
  	</ul>
  </div>
</div>
</body>
<script src="game.js"></script>
</html>